{{#paper-item class="md-3-line"}}
  <img src="assets/images/flags/svg/{{item.country}}.svg" alt={{item.who}} class="md-avatar">

  <div class="md-list-item-text">
    <h3>{{item.shortName}}</h3>
    <h4>{{item.name}}</h4>
    <p>{{item.city}}</p>
  </div>
{{/paper-item}}

{{paper-divider}}