{{#paper-card-content class="flex"}}
  {{#paper-list}}
      {{#paper-item class="md-3-line"}}
        <img src="assets/images/flags/svg/NL.svg" alt={{item.who}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>KKPS</h3>
          <h4>Klaĉ-Kunveno Post-Somera</h4>
          <p>Delft</p>
        </div>
      {{/paper-item}}
      {{paper-divider}}
      {{#paper-item class="md-3-line"}}
        <img src="assets/images/flags/svg/TG.svg" alt={{item.who}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>IJK</h3>
          <h4>Internacia Junulara Kongreso</h4>
          <p>Aneho</p>
        </div>
      {{/paper-item}}
      {{paper-divider}}
      {{#paper-item class="md-3-line"}}
        <img src="assets/images/flags/svg/HU.svg" alt={{item.who}} class="md-avatar">
        <div class="md-list-item-text">
          <h3>IJS</h3>
          <h4>Internacia Junulara Semajno</h4>
          <p>Velencefüred</p>
        </div>
      {{/paper-item}}
      {{paper-divider}}
      {{#each model as |meeting|}}
        {{meeting-item item=meeting}}
      {{/each}}
  {{/paper-list}}
{{/paper-card-content}}